table.table.table-condensed
  thead
    tr
      th.left
        a((click)="previousMonth()")
          i.zmdi.zmdi-forward.zmdi-hc-flip-horizontal

      th.switch(colspan="5")
        a((click)="onHeaderClick.emit()")
          span([textContent]="_selectedDate | dateFormat: 'YYYY-MMM'")

      th.right
        a((click)="nextMonth()")
          i.zmdi.zmdi-forward

    tr
      th.dow(*ngFor="let day of days", [textContent]="day")

  tbody(*ngIf="daysGrid.length")
    tr(*ngFor="let row of [0, 1, 2, 3, 4, 5]")
      td(*ngFor="let day of [0, 1, 2, 3, 4, 5, 6]", [ngSwitch]="daysGrid[day + (row * 7)].isDisabled")

        span.day(*ngSwitchCase="true", [textContent]="daysGrid[day + (row * 7)].timestamp | dateFormat: 'D'")

        a.day(*ngSwitchDefault="", (click)="onPick.emit(daysGrid[day + (row * 7)].timestamp)",
          [ngClass]="daysGrid[day+(row*7)].style")
          span([textContent]="daysGrid[day + (row * 7)].timestamp | dateFormat: 'D'")
